profiles {
    standard {
        process {
            withName: 'trimReads' {
                cpus = 10
                memory = 12.GB
            }
            withName: 'filterTp' {
                cpus = 16
                memory = 32.GB
            }
            withName: 'mapReads' {
                cpus = 16
                memory = 60.GB
            }
            withName: 'deNovoAssembly' {
                cpus = 16
                memory = 60.GB
            }
            withName: 'mergeAssemblyMapping' {
                cpus = 10
                memory = 12.GB
            }
            withName: 'remapReads' {
                cpus = 1
                memory = 1.GB
            }
            /*
            withName: 'generateConsensus' {
                cpus = 1
                memory = 1.GB
            }
            withName: 'annotateConsensus' {
                cpus = 1
                memory = 1.GB
            }
            */
            withName: 'generatePilonConsensus' {
                cpus = 16
                memory = 32.GB
            }
            
            withName: 'annotatePilonConsensus' {
                cpus = 8
                memory = 16.GB
            }
            withName: 'annotateVCFs' {
                cpus = 16
                memory = 60.GB
            }
        }
        docker.enabled = true
    }
    Cloud {
        process {
            withName: 'trimReads' {
                cpus = 32
                memory = 64.GB
            }
            withName: 'filterTp' {
                cpus = 32
                memory = 64.GB
            }
            withName: 'mapUnmatchedReads' {
                cpus = 64
                memory = 128.GB
            }
            withName: 'moreFiltering' {
                cpus = 64
                memory = 128.GB
            }
            withName: 'mapReads' {
                cpus = 8
                memory = 16.GB
            }
            withName: 'samToBam' {
                cpus = 4
                memory = 8.GB
            }
            withName: 'removeDuplicates' {
                cpus = 4
                memory = 8.GB
            }
            withName: 'callVariants' {
                cpus = 4
                memory = 8.GB
            }
            withName: 'deNovoAssembly' {
                cpus = 64
                memory = 128.GB
            }
            withName: 'mergeAssemblyMapping' {
                cpus = 4
                memory = 8.GB
            }
            withName: 'remapReads' {
                cpus = 4
                memory = 8.GB
            }
            withName: 'remapReads_2' {
                cpus = 4
                memory = 8.GB
            }
            withName: 'pilonPolishing' {
                cpus = 4
                memory = 8.GB
            }
            withName: 'remapPilon' {
                cpus = 4
                memory = 8.GB
            }
            /*
            withName: 'generateConsensus' {
                cpus = 16
                memory = 32.GB
            }
            */
            withName: 'generatePilonConsensus' {
                cpus = 16
                memory = 32.GB
            }
            /*
            withName: 'annotateConsensus' {
                cpus = 8
                memory = 16.GB
            }
            */
            withName: 'annotatePilonConsensus' {
                cpus = 8
                memory = 16.GB
            }
            withName: 'annotateVCFs' {
                cpus = 16
                memory = 60.GB
            }
            /*
            withName: 'stats' {
                cpus = 8
                memory = 16.GB
            }
            */

        }
        aws.client.maxParallelTransfers = 2
    }
}